.banner-section {
    background: radial-gradient(#027971, #03a89d);
    /*url('../../Assets/Images/banner.jpg');  */
    /* background: #03a89d; */
    max-width: 100%;
    height: 110vh;
    /* clip-path: ellipse(69% 100% at 50% 0%); */
    clip-path: ellipse(90% 100% at 49% 0%);
    box-sizing: border-box;
}

.banner-image-box {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}


/* Business Section */
.buniness-section {
    background: linear-gradient(0deg, rgba(49, 63, 71, 0.9), rgba(55, 75, 82, 0.7)), url('../../Assets/Images/business-bg2.jpg');
    min-height: 65vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}





/* body {
    background: #333;
  } */


/* Review Carousle */
.react-3d-carousel {
    height: 300px !important;
}

.slider-container,
.slider-single-content,
.slider-single .active,
.react-3d-carousel .slider-container,
.react-3d-carousel .slider-container .slider-content,
.react-3d-carousel .slider-container .slider-content .slider-single {
    height: 100% !important;
}

.react-3d-carousel .slider-container .slider-right div,
.react-3d-carousel .slider-container .slider-left div {
    background: rgba(49, 63, 71, 0.1) !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.react-3d-carousel .slider-container .slider-right div:hover,
.react-3d-carousel .slider-container .slider-left div:hover {
    background: rgba(49, 63, 71, 0.5) !important;
}

.comment-container {
    background: linear-gradient(0deg, rgba(228, 245, 254, 0.9), rgba(223, 246, 253, 0.9)), url('../../Assets/Images/dots.png');
}

/* Contact form */
.contact-section h2,
.contact-section input,
.contact-section textarea,
.contact-section button,
.contact-section p {
    font-family: 'Josefin Sans', sans-serif;
}

/* Expert section */
.expert-section .expert-box {
    position: relative;
    overflow: hidden;
}

.expert-details {
    position: absolute;
    top: 0;
    left: -500px;
    color: #fff;
}

.expert-section .expert-box:hover .expert-details {
    left: 0;
    transition: .1s;
    width: 85%;
    height: 82%;
    background-color: rgba(89, 100, 106, 0.7);
    margin: 34px 19px;
    border-radius: 5px;
}