.banner-section {
    /* background: #343C97; */
    /*url('../../Assets/Images/banner.jpg');  */
    /* background: #03a89d; */
    background: url('../../Assets/Images/bg.jpg');
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    clip-path: ellipse(81% 100% at 50% 0%);
    box-sizing: border-box;
    overflow-x: hidden;
    /* background-repeat: no-repeat; */
}

.banner-image-box {
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 70%;
}


/* Business Section */
.buniness-section {
    background: linear-gradient(0deg, rgba(45, 46, 53, 0.2), rgba(49, 49, 54, 0.2)), url('../../Assets/Images/business-bg.jpg');

    min-height: 65vh;
    background-size: 1266px 610px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.buniness-section button {
    cursor: pointer;
}

/* Review Carousle */
.react-3d-carousel {
    height: 300px !important;
}

.eWjCzc,
.eAyARa {
    background: #eee !important;
    width: 35px !important;
    height: 35px !important;
    min-width: 35px !important;
    font-size: 1em !important;
    line-height: 35px !important;
}

.eWjCzc:hover:enabled,
.eWjCzc:focus:enabled {
    color: rgb(40, 40, 40) !important;
}

.krmNah {
    background-color: rgba(52, 60, 151, .5);
    box-shadow: 0 0 1px 3px rgb(52 60 151);
}

.review-vector {
    display: flex;
    justify-content: center;
    background: #F9FAFB;
    width: 70px;
    height: 70px;
    text-align: center;
    margin: 0 auto;
    margin-top: -64px;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #F9FAFB;
}

/* 
.slider-container,
.slider-single-content,
.slider-single .active,
.react-3d-carousel .slider-container,
.react-3d-carousel .slider-container .slider-content,
.react-3d-carousel .slider-container .slider-content .slider-single {
    height: 100% !important;
}

.react-3d-carousel .slider-container .slider-right div,
.react-3d-carousel .slider-container .slider-left div {
    background: rgba(49, 63, 71, 0.1) !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.react-3d-carousel .slider-container .slider-right div:hover,
.react-3d-carousel .slider-container .slider-left div:hover {
    background: rgba(49, 63, 71, 0.5) !important;
} */

.comment-container {
    background: linear-gradient(0deg, rgba(228, 245, 254, 0.9), rgba(223, 246, 253, 0.9)), url('../../Assets/Images/dots.png');
}

/* Contact form */
.contact-section h2,
.contact-section input,
.contact-section textarea,
.contact-section button,
.contact-section p {
    font-family: 'Josefin Sans', sans-serif;
}

/* Expert section */
.expert-section .expert-box {
    position: relative;
    overflow: hidden;
}

.expert-details {
    position: absolute;
    top: 0;
    left: -500px;
    color: #fff;
}

.expert-section .expert-box:hover .expert-details {
    left: 0;
    transition: .1s;
    width: 85%;
    height: 82%;
    background-color: rgba(89, 100, 106, 0.7);
    margin: 34px 19px;
    border-radius: 5px;
}


@media only screen and (max-width: 480px) {
    .banner-section {
        height: 65vh;
        clip-path: ellipse(150% 100% at 50% 0%);
    }

    .banner-image-box {
        top: 50%;
        left: 50%;
    }

    .buniness-section {
        min-height: 85vh;
    }
}